<form ng-submit="submit()" name="createbunch" class="form" novalidate>

    <h1 class="form-signin-heading">Create a ride.</h1>
    <hr>
    <input name="name" ng-model="name" type="text" class="form-control" placeholder="Name of bunch" required />
    <p></p>
    <textarea name="desc" ng-model="desc" type="desc" class="form-control" placeholder="Description" required />
    <!--<ui-select theme="bootstrap" ng-model="local.selected" required>
    <ui-select-match placeholder="Select location...">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="local in locations | filter:{ name: $select.search }">
        <div ng-bind-html="local.name"></div>
    </ui-select-choices>
</ui-select>-->
    <div>
        <h3>Is this a one off ride?</h3>
        <input type="checkbox" ng-model="oneoff"></input>
    </div>
    <h3>Meeting location</h3>
    <leaflet class="form-control" markers="markers" id="mymap" defaults="defaults" center="center" height="480px"></leaflet>
    <div ng-hide="oneoff">
        <h3>Days of week</h3>
        <ui-select multiple ng-model="multipleSelect.days" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
            <ui-select-match placeholder="Select days...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="day in availableDays | filter:$select.search">
                {{day}}
            </ui-select-choices>
        </ui-select>
        <p></p>
        <p>Time of ride</p>
        <timepicker ng-model="time" hour-step="1" minute-step="15"></timepicker>
    </div>
    <div ng-hide="!oneoff">
        <P>Date of ride</P>
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="date" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>
        <pre>Date of ride is: <em>{{date | date:'fullDate' }}</em></pre>
        <p class="input-group">
            <p>Time of ride</p>
            <timepicker ng-model="oneofftime" hour-step="1" minute-step="15"></timepicker>
    </div>
    </p>
    </div>
    <p></p>

    <div ng-show="isstravaauth && !showmap">Loading strava routes......
    </div>

    <div ng-show="isstravaauth && showmap">

        <p>Strava Route</p>
        <!--<div>{{stravaride.selected.map.summary_polyline}}</div>-->
        <ui-select theme="bootstrap" ng-model="stravaride.selected" on-select="getStravaRoute()" required>
            <ui-select-match placeholder="Select strava activity...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="stravaride in stravarides | filter:{ name: $select.search }">
                <div ng-bind-html="stravaride.name"></div>
            </ui-select-choices>
        </ui-select>

        <div>
            <leaflet id="stravamap" center="cen" paths="paths" layers="layers" height="480px"></leaflet>
        </div>
        <p></p>
        <button type="button" ng-disabled="stravaride.selected == undefined" class="btn btn-success" ng-click="addRoute();">Add route</button>

        <div ng-repeat="route in routes">
            <p></p>
            {{ route.name }} <a ng-click="deleteRoute($index)">Remove route</a>
        </div>

    </div>

    <div ng-show="!isstravaauth">
        <button type="button" class="btn btn-success" ng-click="stravaAuth();">Login with strava to add routes</button>
    </div>
    <div>
        <span us-spinner spinner-key="createSpin" spinner-start-active="false"></span>
    </div>
    <div>
        <h3>Is this a private ride?</h3>
        <input type="checkbox" ng-model="private"></input>
    </div>
    <p></p>
    <button ng-click="" ng-disabled="register.$invalid" class="btn btn-lg btn-success btn-block" type="submit">
        Create
    </button>
    <br />
</form>