<form ng-submit="submit()" name="register" class="form-signin" novalidate>
    <span us-spinner spinner-key="loginSpin" spinner-start-active="false"></span>
    <h1 class="form-signin-heading text-muted">Login</h1>
    <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email address" required>
    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a valid email address</p>
    <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>
    <button ng-click="" ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
        Login
    </button>
    <br />
    <span>
        <a class="text-muted pull-right" ui-sref="register">Create account</a>
    </span>
    <div>
        <br />
        <hr />
    </div>
    <div id="gSignInWrapper">
        <div ng-app="directive.g+signin">
            <google-plus-signin clientid="549020993769-tn974vfkrovsr1k4g65135k6m02vec6j.apps.googleusercontent.com"></google-plus-signin>
        </div>
    </div>


    <button type="button" class="btn btn-primary btn-large" data-ng-show="!logged" data-ng-disabled="!facebookReady" ng-click="IntentLogin()">Login with Facebook</button>
    <button type="button" class="btn btn-danger btn-large" data-ng-show="logged" data-ng-disabled="!facebookReady" ng-click="logout()">Logout</button>

    <button type="button" class="btn btn-primary btn-large" data-ng-disabled="!facebookReady" data-ng-click="me()">Me</button>

</form>