<h3>{{dayofweekdisplay | date : 'fullDate'}}</h3>
<div ng-repeat="bunch in bunches">
    <div ng-repeat="ride in bunch.rides">
        <h4>{{bunch.name}} @ {{ride.date | date : 'mediumTime'}}</h4>
        <div>
            {{bunch.craig}}
            <button ng-click="in(ride.id)" class="btn btn-success">In</button>
            <button ng-click="out(ride.id)" class="btn btn-danger">Out</button>
        </div>
        <div riders ride=ride>sss</div>
        <hr>
    </div>
</div>
<div ng-repeat="bunch in oneoffbunches">
    <div ng-repeat="ride in bunch.rides">
        <h4>{{bunch.name}} @ {{ride.date | date : 'mediumTime'}}</h4>
        <div>
            <button ng-click="in(ride.id)" class="btn btn-success">In</button>
            <button ng-click="out(ride.id)" class="btn btn-danger">Out</button>
        </div>

        <hr>
    </div>
</div>